In [2]:
import pandas as pd
from sqlalchemy import create_engine
#from secret import connection_string

In [29]:
csv_file = "../Run Data/world-marathon-majors/Female_Elite_Chicago.csv"
runner_data = pd.read_csv(csv_file,low_memory= True )
runner_data.head()

   Year            Athlete        Country      Time
0  1977  Dorothy Doolittle  United States  02:17:52
1  1978       Lynae Larson  United States  02:19:20
2  1979     Laura Michalek  United States  02:23:20
3  1980       Sue Peterson  United States  02:14:04
4  1981         Tina Gandy  United States  02:16:13